@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400');

html {
  scroll-behavior: smooth;
  scrollbar-color: #c19a5b #f8e7cf; /* dourado e creme */
  scrollbar-width: thin;
  scroll-behavior: auto; /* desativa scroll padrão */
  overflow: hidden; /* o JS controla o movimento */
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
    background: linear-gradient(180deg, #fdf9f4 0%, #f1e3d0 50%, #e4cfa3 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: slideDown 1s ease forwards;
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: background 1s ease;
    
}

header{
    width: 100%;
    height: 15%;
    background-color:#ffffff ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 90px;
    height: 60px;
    border-radius: 80px;
    
}

.menu{
    margin-right:20px;
    display: inline-flex;
    gap:70px;
    list-style-type: none;
    font-size: 25px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.pacotes{
  margin: 0;
  scroll-behavior: smooth; 
  overflow-y: scroll;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  overflow-y: scroll; 
}

.conteudo {
  max-width: 400px;
  margin-left: 170px;
  scroll-snap-align: start;
  height: 100vh; 
  margin-top: 30px;
  align-items: center;
}

.icone {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 4rem;
  color: #3c2a1e;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

.preco {
  margin: 20px 0;
}

.pacote {
  font-size: 1rem;
  color: #6b4b3e;
  margin-bottom: 5px;
  letter-spacing: 1px;
  scroll-snap-align: start;
}

.valor {
  font-size: 0.8rem;
  color: #3c2a1e;
}

.valor span {
  font-size: 5rem;
  font-weight: 600;
}

.incluso {
  margin: 20px 0;
  color: #3c2a1e;
}

.incluso ul {
  list-style: disc;
  margin-left: 20px;
}

.botao {
  width: 160px;
  height: 45px;
  margin: auto;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);
  gap: 8px;
  font-size: 1em;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
  background-size: 250% 200%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.botao:hover {
  transform: scale(0.95);
  letter-spacing: 2px;
  transition-duration: 0.5s;
  animation: gradient 0.5s ease infinite;
  background-position: 22%;
}

.foto {
  width:auto;
  height: 50vw;
  border-radius: 20px;
  object-fit: cover;
}

img.foto-noiva{
  border-radius: 20px;
  width: 600px; 
  height: 65vw;
  object-fit: cover;
  display: inline;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #caa86d, #b8894a);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f9e8d03c;
}
